body{
    background-color: #90BAAD;
}

.textarea, #preview, footer{
    background: #A1E5AB;
    color: #5E503F;
}

.textarea{
    font-size: 16px;
    padding: 20px;
    outline: none;
    resize: none;
}

.textarea:focus{
    box-shadow: 0 0 3px 3px royalblue;
}

#preview{
    padding: 40px;
    border: 2px solid royalblue;
    border-top: none;
}

#preview code{
    background-color: #90BAAD;
    color: #000;
    border-radius: 4px;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
}

#preview pre{
    background-color: #90BAAD;
    padding: 10px;
}

#preview img {
    width: 100%;
}

.toolbar {
    background-color: #493548;
    border: 2px solid royalblue;
    border-bottom: none;
    font-size: 22px;
    color: #A1E5AB;
}

footer {
    font-size: 20px;
}

footer a {
    color: royalblue;
}

@media (min-width: 768px) { .textarea, .toolbar:first-child{width: 80% !important;} }
